doctype html
html
div
    head
        style
        include style.css
    body
        div
            | This is test email
            br
            | Just testing mailer
            p
        div
            block content
        div.footer
            | xoxo
            br

